* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(212, 212, 212);
}

.header1 {
    background: #fff;
    text-align: right;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-content: left;
}

.logo span {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}


.header1 ul {
    display: inline-flex;
    list-style: none;
}

.header1 ul li {
    width: 160px;
    margin: 15px;
    padding: 15px;
    
}

.header1 ul li a {
    text-decoration: none;
    color: black;
}

.header1 ul li:hover {
    width: fit-content;
    background: rgb(83, 82, 82);
    border-radius: 10px;
    transition: 0.3s ease-out;
    flex-direction: none;
}

.header1 .fa {
    margin-right: 8px;
}

.header1 i {
    font-size: 1.2rem;
    color: rgb(151, 151, 151);
    margin: 0 1.8rem 0 0.3rem;
}

.wrapper {
    display: flex;
}

nav {
    width: 95px;
    /*width: 290px;*/
    height: 100vh;
    background: #fff;
    transition: 0.5s ease-out;
    overflow: hidden;
}

nav:hover {
    width: 290px;
}

.navbar {
    padding: 1rem;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.navbar a {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: rgb(39, 39, 39);
    font-weight: 500;
    overflow: hidden;
}

.navbar i {
    font-size: 1.2rem;
    color: rgb(75, 72, 255);
    margin: 0 1.8rem 0 0.3rem;
}

.navbar a:hover {
    background: rgb(75, 72, 255);
    border-radius: 10px;
    transition: 0.3s ease-out;
    color: #fff;
}
.navbar a:hover i{
    color: #fff;
}

.logout {
    position: absolute;
    bottom: 20px;
}
.logout:hover i button{
    color: #fff;
}

.logout i {
    padding-right: 1rem;
}

/* main-body*/
.main-body {
    padding: 20px 30px;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
}
.header > .title span{
    width: 200px;
}

.head-title span {
    font-size: 14px;
    color: rgb(151, 151, 151);
}

.head-search {
    width: 400px;
    margin-left: 70%;
}

input {
    border: none;
    outline: none;
    padding: 7px 13px;
    border-radius: 15px;
}


.main-content {
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 20px;
}

.sidebar {
    width: 350px;
    padding: 2rem;
    background: #fff;
}
.content {
    display: none;
}

.content.active {
    display: block;
}
button{
    background: transparent;
    border: none;
}